@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light-gray: #f9f7f7;
}

body {
  font-size: 14px;
}
.bg-light-gray {
  background: var(--background-light-gray);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
